<h3 class="container col-6">
  Product Register
</h3>
<div class="card container col-6">
  <form class="card-block" (ngSubmit)="sendData()" *ngIf="! enviado" #form="ngForm">
    <div class="form-group" [class.has-success]="name.valid" [class.has-danger]="name.invalid">
      <label for="name">Name</label>
      <input class="form-control" [class.form-control-success]="name.valid" type="text" id="name" [(ngModel)]="_name" name="name" #name="ngModel" placeholder="type name" required>
      <div [hidden]="name.valid || name.pristine">
        <small [ngClass]="{'form-control-danger': 'name.invalid || nome.dirty', 'form-control-feedback': 'name.invalid || name.dirty'}">Name is required!</small>
      </div>
    </div>
    <div class="form-group" [class.has-success]="barcode.valid" [class.has-danger]="barcode.invalid">
      <label for="barcode">Barcode</label>
      <input class="form-control" [class.form-control-success ]="barcode.valid" type="text" id="barcode" [(ngModel)]="_barcode" name="barcode" #barcode="ngModel" placeholder="type barcode" required>
      <div [hidden]="barcode.valid || barcode.pristine">
        <small [ngClass]="{'form-control-danger': 'barcode.invalid || barcode.dirty', 'form-control-feedback': 'barcode.invalid || telefone.dirty'}">Barcode is required!</small>
      </div>
    </div>
    <div class="form-group">
      <label for="ncm">NCM</label>
      <input class="form-control" type="text" id="ncm" [(ngModel)]="_ncm" name="ncm" #ncm="ngModel">
    </div>
    <button class="btn" type="submit" [disabled]="form.invalid">Save</button>
  </form>
</div>
<div class="card card-block container col-6" *ngIf="sent">
  <div>
    <h2>Data sent!</h2>
  </div>
  <div>
    <p>Product Name:
      <strong>{{_name}}</strong>
    </p>
  </div>
  <div>
    <p>Barcode:
      <strong>{{_barcode}}</strong>
    </p>
  </div>
  <div>
    <p>NCM:
      <strong>{{_ncm}}</strong>
    </p>
  </div>
  <button (click)="back()">Back</button>
</div>