<h3>
  Product Detail
</h3>
<div class="row justify-content-start">
  <div class="col-9">
    <div class="form-group">
      <label for="name">Name</label>
      <p id="name">
        <strong>{{product?.name}}</strong>
      </p>
    </div>
    <div class="form-group">
      <label for="barcode">Barcode</label>
      <p id="barcode">
        <strong>{{product?.barcode}}</strong>
      </p>
    </div>
    <div class="form-group">
      <label for="ncm">NCM</label>
      <p id="ncm">
        <strong>{{product?.ncm}}</strong>
      </p>
    </div>
  </div>
</div>